Repository QAGIw3/aurum: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements, check-imports, check-openapi-spec

check-requirements:
  name: Check requirements files
  entry: python -c
  args:
  - import sys; exec(open('scripts/check_requirements.py').read())
  language: system
  pass_filenames: false

check-imports:
  name: Check import structure
  entry: python -c
  args:
  - from aurum.api.app import create_app; print('✅ Imports successful')
  language: system
  pass_filenames: false

check-openapi-spec:
  name: Validate OpenAPI spec
  entry: python -c
  args:
  - from aurum.api.app import create_app; from aurum.core import AurumSettings; import json; app = create_app(AurumSettings()); spec = app.openapi(); json.dump(spec, open('/tmp/openapi.json', 'w')); print('✅ OpenAPI spec generated')
  language: system
  ...

0.2.0
  CHANGELOG.md
  pyproject.toml
Due: check-requirements

modified: src/aurum/api/graphql/schema.py
  src/aurum/api/graphql/schema.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/v2/admin.py modified: src/aurum/api/v2/metadata.py modified: src/aurum/api/v2/scenarios.py
  src/aurum/api/v2/admin.py
  src/aurum/api/v2/metadata.py
  src/aurum/api/v2/scenarios.py
Due: check-imports, check-openapi-spec

refactor(api): standardize ETag via respond_with_etag; unify CacheManager; remove legacy cache; consolidate settings imports; add HTTP ETag README
  airflow/dags/ingest_eia_series_timescale.py
  airflow/dags/ingest_fred_series_timescale.py
  airflow/dags/ingest_iso_aux_timescale.py
  apps/api/cli.py
  apps/api/main.py
  apps/api/routers/admin.py
  apps/api/routers/catalog.py
  apps/api/routers/scenarios.py
  apps/api/routers/series.py
  apps/workers/main.py
  demo_refactored_system.py
  docs/api/README.md
  docs/api_usage_guide.md
  libs/common/cache.py
  libs/services/base_service.py
  src/aurum/airflow_utils/timescale.py
  src/aurum/api/http/README.md
  src/aurum/api/http/response_builders.py
  src/aurum/api/state.py
  src/aurum/api/v2/admin.py
  src/aurum/api/v2/curves.py
  src/aurum/api/v2/drought.py
  src/aurum/api/v2/eia.py
  src/aurum/api/v2/forecasting.py
  src/aurum/api/v2/iso.py
  src/aurum/api/v2/metadata.py
  src/aurum/api/v2/ppa.py
  src/aurum/api/v2/scenarios.py
  src/aurum/api/v2/search.py
  test_performance_features.py
  tests/airflow/test_ingest_timescale_dags.py
  tests/conftest.py
Due: check-imports, check-openapi-spec

feat(airflow): standardize Timescale jobs via helper and re-enable debug describe for ISO DAGs
  airflow/dags/ingest_cpi_series_timescale.py
  airflow/dags/ingest_eia_bulk.py
  airflow/dags/ingest_eia_series_timescale.py
  airflow/dags/ingest_fred_series_timescale.py
  airflow/dags/ingest_iso_load_timescale.py
  airflow/dags/ingest_iso_prices_timescale.py
  src/aurum/airflow_utils/timescale.py
  tests/airflow/test_ingest_timescale_dags.py
Due: check-imports

0.3.0
  CHANGELOG.md
  pyproject.toml
Due: check-requirements

refactor(noaa): use shared Timescale helper for NOAA Kafka→Timescale task and add DagBag test
  airflow/dags/noaa_ingest_dag.py
  tests/airflow/test_noaa_dags_refactor.py
Due: none

chore(vault): add build_pull_env_command helper and adopt in ISO ingestion DAGs (PJM, AESO, SPP)
  airflow/dags/ingest_iso_prices_aeso.py
  airflow/dags/ingest_iso_prices_pjm.py
  airflow/dags/ingest_iso_prices_spp.py
  src/aurum/airflow_utils/vault.py
Due: check-imports

refactor(ingest): centralize Vault env pulls via helper and migrate NOAA ingest to standard render/execute/watermark chain
  airflow/dags/ingest_iso_metrics_miso.py
  airflow/dags/ingest_iso_metrics_pjm.py
  airflow/dags/ingest_iso_prices_ercot.py
  airflow/dags/ingest_iso_prices_isone_spp.py
  airflow/dags/ingest_isone_comprehensive_dag.py
  airflow/dags/ingest_pjm_pnodes.py
  airflow/dags/ingest_public_feeds.py
  airflow/dags/noaa_ingest_dag.py
Due: none

test(airflow): add DagBag import tests for ISO DAGs (metrics PJM/MISO, ERCOT, ISONE comprehensive); migrate public_feeds NOAA to trigger dedicated DAGs
  airflow/dags/ingest_public_feeds.py
  tests/airflow/test_iso_ingest_imports.py
Due: none

build(pyproject): add hvac and testing tools (pytest, pytest-asyncio, schemathesis, hypothesis, factory) to deps/extras
  pyproject.toml
Due: check-requirements

fix(pyproject): remove invalid factory package; keep factory_boy only
  pyproject.toml
Due: check-requirements

0.3.1
  CHANGELOG.md
  pyproject.toml
Due: check-requirements

new file: constraints/dev.noextras.txt
  constraints/dev.noextras.txt
Due: none

new file: examples/api_client_example.py
  examples/api_client_example.py
Due: none

modified: dbt/models/int/iso/int_isone_generation_mix_enriched.sql modified: dbt/models/int/iso/int_isone_load_enriched.sql
  dbt/models/int/iso/int_isone_generation_mix_enriched.sql
  dbt/models/int/iso/int_isone_load_enriched.sql
Due: none

modified: src/aurum/iso/ercot.py
  src/aurum/iso/ercot.py
Due: check-imports

modified: dbt/README.md
  dbt/README.md
Due: none

new file: src/aurum/external/providers/weather_unified.py
  src/aurum/external/providers/weather_unified.py
Due: check-imports

Path conditions:
  check-requirements: any of: ^(requirements.*\.txt|pyproject\.toml)$
  check-imports: any of: ^src/aurum/.*\.py$
  check-openapi-spec: any of: ^src/aurum/api/.*\.py$
