Repository QAGIw3/aurum: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-requirements, check-imports, check-openapi-spec

check-requirements:
  name: Check requirements files
  entry: python -c
  args:
  - import sys; exec(open('scripts/check_requirements.py').read())
  language: system
  pass_filenames: false

check-imports:
  name: Check import structure
  entry: python -c
  args:
  - from aurum.api.app import create_app; print('✅ Imports successful')
  language: system
  pass_filenames: false

check-openapi-spec:
  name: Validate OpenAPI spec
  entry: python -c
  args:
  - from aurum.api.app import create_app; from aurum.core import AurumSettings; import json; app = create_app(AurumSettings()); spec = app.openapi(); json.dump(spec, open('/tmp/openapi.json', 'w')); print('✅ OpenAPI spec generated')
  language: system
  ...

modified: src/aurum/api/__init__.py modified: src/aurum/api/database/__init__.py
  src/aurum/api/__init__.py
  src/aurum/api/database/__init__.py
Due: check-imports, check-openapi-spec

new file: docs/refactor-plan.md modified: pyproject.toml modified: src/aurum/api/__init__.py modified: src/aurum/api/routes.py modified: src/aurum/core/models.py
  docs/refactor-plan.md
  pyproject.toml
  src/aurum/api/__init__.py
  src/aurum/api/routes.py
  src/aurum/core/models.py
Due: check-requirements, check-imports, check-openapi-spec

modified: src/aurum/api/app.py new file: src/aurum/api/router_registry.py modified: src/aurum/api/routes.py
  src/aurum/api/app.py
  src/aurum/api/router_registry.py
  src/aurum/api/routes.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/routes.py
  src/aurum/api/routes.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/models.py
  src/aurum/api/models.py
Due: check-imports, check-openapi-spec

deleted: src/aurum/api/models.py
  src/aurum/api/models.py
Due: check-imports, check-openapi-spec

Phase 1 PR1 scaffolding: add deps.py, async API issue template, PR outline
  .github/ISSUE_TEMPLATE/phase1-async-routes.md
  docs/prs/PHASE1_PR1_ASYNC_API_DI.md
  src/aurum/api/deps.py
Due: check-imports, check-openapi-spec

Phase 1 PR2 scaffolding: Trino pooling unification issue template and PR outline
  .github/ISSUE_TEMPLATE/phase1-trino-pool.md
  docs/prs/PHASE1_PR2_TRINO_POOL.md
Due: none

Phase 1 PR3 scaffolding: cache utils/decorator, cache issue template, PR outline, and non-collected test skeletons
  .github/ISSUE_TEMPLATE/phase1-cache-centralization.md
  docs/prs/PHASE1_PR3_CACHE_CENTRALIZATION.md
  src/aurum/api/cache/decorators.py
  src/aurum/api/cache/utils.py
  tests/phase1_skeletons/skeleton_cache_utils.py
  tests/phase1_skeletons/skeleton_deps.py
Due: check-imports, check-openapi-spec

PR1: Wire DI into v2 handlers (settings/cache_manager) without behavior changes; keep async routes
  src/aurum/api/v2/curves.py
  src/aurum/api/v2/eia.py
  src/aurum/api/v2/metadata.py
Due: check-imports, check-openapi-spec

PR1: Apply DI (settings/cache_manager) to v2 scenarios handlers without behavior changes
  src/aurum/api/v2/scenarios.py
Due: check-imports, check-openapi-spec

PR2 groundwork: add TrinoClient.execute_query_sync and route service queries through unified pool without asyncio.run
  src/aurum/api/database/trino_client.py
  src/aurum/api/service.py
Due: check-imports, check-openapi-spec

PR2: Expose Trino pool/health admin endpoints and deprecate performance.connection_pool for API usage
  src/aurum/api/trino_admin.py
  src/aurum/performance/connection_pool.py
Due: check-imports, check-openapi-spec

PR3 groundwork: global CacheManager registry + sync cache helper; route EIA and curves diff caching through CacheManager
  src/aurum/api/app.py
  src/aurum/api/cache/global_manager.py
  src/aurum/api/cache/utils.py
  src/aurum/api/service.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/service.py
  src/aurum/api/service.py
Due: check-imports, check-openapi-spec

PR3: Replace direct Redis usage with CacheManager in EIA dimensions, curves, ISO LMP, and metadata dimensions; add service cache hit/miss metrics; use Trino sync exec
  src/aurum/api/service.py
Due: check-imports, check-openapi-spec

PR3: Migrate scenario outputs/metrics caching and invalidation to CacheManager with Redis fallback for tests; add pattern-based invalidation for EIA/dimensions/metadata
  src/aurum/api/service.py
Due: check-imports, check-openapi-spec

new file: src/start_api.py
  src/start_api.py
Due: none

docs: document AURUM_API_LIGHT_INIT for fast local API tests and add examples
  README.md
  docs/testing-fast-local.md
Due: none

modified: src/aurum/api/features/feature_management.py modified: tests/api/test_golden_query_cache.py
  src/aurum/api/features/feature_management.py
  tests/api/test_golden_query_cache.py
Due: check-imports, check-openapi-spec

modified: tests/api/test_golden_query_cache.py
  tests/api/test_golden_query_cache.py
Due: none

modified: tests/api/test_golden_query_cache_tenant.py
  tests/api/test_golden_query_cache_tenant.py
Due: none

new file: src/aurum/seatunnel/dry_run_renderer.py
  src/aurum/seatunnel/dry_run_renderer.py
Due: check-imports

modified: src/aurum/api/rate_limiting/__init__.py modified: src/aurum/api/rate_limiting/rate_limiting.py
  src/aurum/api/rate_limiting/__init__.py
  src/aurum/api/rate_limiting/rate_limiting.py
Due: check-imports, check-openapi-spec

modified: k8s/base/backups.yaml
  k8s/base/backups.yaml
Due: none

modified: src/aurum/api/rate_limiting/sliding_window.py
  src/aurum/api/rate_limiting/sliding_window.py
Due: check-imports, check-openapi-spec

deleted: src/aurum/api/rate_limiting/ratelimit.py
  src/aurum/api/rate_limiting/ratelimit.py
Due: check-imports, check-openapi-spec

new file: src/aurum/api/rate_limiting/ratelimit.py
  src/aurum/api/rate_limiting/ratelimit.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/rate_limiting/concurrency_middleware.py
  src/aurum/api/rate_limiting/concurrency_middleware.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/app.py modified: src/aurum/api/rate_limiting/__init__.py
  src/aurum/api/app.py
  src/aurum/api/rate_limiting/__init__.py
Due: check-imports, check-openapi-spec

modified: README.md modified: src/aurum/api/eia_v2_service.py modified: src/aurum/core/settings.py
  README.md
  src/aurum/api/eia_v2_service.py
  src/aurum/core/settings.py
Due: check-imports, check-openapi-spec

modified: docs/configuration.md modified: src/aurum/api/drought_v2_service.py modified: src/aurum/api/iso_v2_service.py modified: src/aurum/core/settings.py
  docs/configuration.md
  src/aurum/api/drought_v2_service.py
  src/aurum/api/iso_v2_service.py
  src/aurum/core/settings.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/database/trino_admin.py deleted: src/aurum/api/trino_admin.py new file: src/aurum/api/trino_client.py modified: src/aurum/data/external_dao.py
  src/aurum/api/database/trino_admin.py
  src/aurum/api/trino_admin.py
  src/aurum/api/trino_client.py
  src/aurum/data/external_dao.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/lifespan_manager.py modified: src/aurum/api/lifespan_manager.py
  src/aurum/api/lifespan_manager.py
Due: check-imports, check-openapi-spec

modified: src/aurum/api/lifespan_manager.py
  src/aurum/api/lifespan_manager.py
Due: check-imports, check-openapi-spec

Add CI/CD README file
  .github/CI_CD_README.md
Due: none

modified: src/aurum/api/services/developer_workspace_service.py
  src/aurum/api/services/developer_workspace_service.py
Due: check-imports, check-openapi-spec

0.1.0
  CHANGELOG.md
Due: none

Path conditions:
  check-requirements: any of: ^(requirements.*\.txt|pyproject\.toml)$
  check-imports: any of: ^src/aurum/.*\.py$
  check-openapi-spec: any of: ^src/aurum/api/.*\.py$
